<h1>Welcome to the Shoe Tracker!</h1>
<h2>A place where you can check your fav shoes and fab stores.</h2>

<p><a href="/stores">Add a new store</a></p>
<p><a href="/shoes">Add a new shoe</a></p>


<h3>Here are all the shoes in this database:</h3>

<% if @shoes.any?() %>
<p>Click on an shoe to see information about them and what stores they're available at:</p>

<ul>
  <% @shoes.each do |shoe| %>
  <li><a href="/shoes/<%= shoe.id() %>"><%= shoe.brand() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no shoes added yet!</p>
<% end %>


<h3>Here are all the stores in this database:</h3>

<% if @stores.any?() %>
<p>Click on a store to see information about it and mark which shoes were in it:</p>

<ul>
  <% @stores.each do |store| %>
  <li><a href="/stores/<%= store.id() %>"><%= store.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no stores added yet!</p>
<% end %>
