<!DOCTYPE html>
<html>
<head>
  <title>Shoe Fanatico!!!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/css/style.css' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lustria|Orbitron:500' rel='stylesheet' type='text/css'>
</head>
<nav>

</nav>
<body>
  <div class="jumbotron">
    <div class='container'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
