<h1>Welcome to the Shoe page</h1>

<p>Add an shoe to the database:</p>

<form action="/shoes" method="post">
  <label for="brand">Shoe's brand:</label>
  <input id="brand" name="brand" type="text">

  <button type="submit" class="btn btn-info">Add shoe</button>
</form>


<% if @shoes.any?() %>
<p>Click on an shoe to see information about them and to assign them to different venues:</p>

<ul>
  <% @shoes.each do |shoe| %>
  <li><a href="/shoes/<%= shoe.id() %>"><%= shoe.brand() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no shoes added yet!</p>
<% end %>

<p><a href="/stores">See all stores</a></p>

<p><a href="/">Return to Main Page</a></p>
